@import "./normalize.css";
body {
  height: 100vh;
  grid-template-rows: 1fr;
  background-color: #f1f2f2;
  color: #28283b;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  grid-template-areas: "aside main";
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h1 {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "aside" "main";
  }
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "aside" "main";
  }
}
.hang {
  display: none;
  width: 48px;
  height: 168px;
  background-image: url(/assets/hang.svg);
}

.head {
  display: none;
  width: 200px;
  height: 227px;
  background-image: url(/assets/head.svg);
}

.bodyHands {
  display: flex;
  flex-direction: row;
}

.body {
  display: none;
  width: 158px;
  height: 71.64px;
  background-image: url(/assets/body.svg);
}

.leftHand {
  display: none;
  width: 70px;
  height: 71.64px;
  background-image: url(/assets/hand.svg);
}

.rightHand {
  display: none;
  width: 70px;
  height: 71.64px;
  background-image: url(/assets/hand.svg);
}

.legs {
  display: flex;
  flex-direction: row;
  padding-bottom: 64px;
}

.rightLeg {
  display: none;
  width: 64px;
  height: 75px;
  background-image: url(/assets/leg.svg);
}

.leftLeg {
  display: none;
  width: 64px;
  height: 75px;
  background-image: url(/assets/leg.svg);
}

.body__element1 {
  background-color: #d9fe95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hangman__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px;
}

.word__container {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 560px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
}

.hint {
  padding-top: 96px;
  padding-bottom: 48px;
  display: flex;
  gap: 96px;
  justify-content: space-between;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hint__number {
  color: #c9d0d5;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  color: #c9d0d5;
  font-weight: 400;
}

.word {
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}

.word__guessfield {
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.word__underline {
  width: 100%;
  height: 1px;
  background-color: #c9d0d5;
}

.word__keyboard {
  padding-top: 48px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(38px, auto));
}

.word__keyboard--letter {
  padding: 16px 12px;
  border: solid 1px #28283b;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.word__keyboard--letter:hover {
  border: none;
  background-color: #d9fe95;
  border: solid 1px #d9fe95;
  cursor: pointer;
}

.word__keyboard--letter:active,
.word__keyboard--letter.active {
  border: none;
  background-color: #d9fe95;
}

.word__info {
  display: flex;
  gap: 96px;
  justify-content: space-between;
  padding-top: 24px;
  color: #c9d0d5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.word__info--header {
  flex-shrink: 0;
}

.modal,
.modalLoose {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(217, 254, 149, 0.5);
}

.modal__content,
.modalLoose__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f2f2;
  padding: 96px 96px 96px 116px;
  width: 50%;
}

.modal__word,
.modalLoose__word {
  padding-top: 20px;
}

.modal__close,
.modalLoose__close {
  color: #28283b;
  margin-top: 40px;
  padding: 16px 12px;
  border: solid 1px #28283b;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__close:hover,
.modalLoose__close:hover {
  background-color: #d9fe95;
  text-decoration: none;
  border: solid 1px #d9fe95;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */